.homePage-bannerbg {
    background: url('~@/styles/themeDark/images/banner.png') no-repeat center;
    background-size: 100%;
}

.vdcList-icon-zone {
    background: url('~@/styles/themeDark/images/zone.png') no-repeat center;
}

.vdcList-icon-cluster {
    background: url('~@/styles/themeDark/images/cluster.png') no-repeat center;
}

.vdcList-icon-physicalHost {
    background: url('~@/styles/themeDark/images/physicalHost.png') no-repeat center;
}

.vdcList-icon-VDC {
    background: url('~@/styles/themeDark/images/VDC.png') no-repeat center;
}

.vdcList-icon-serverVm {
    background: url('~@/styles/themeDark/images/serverVm.png') no-repeat center;
}

.alerts-icon {
    background: url('~@/styles/themeDark/images/alerts.png') no-repeat center;
}

.workorder-icon {
    background: url('~@/styles/themeDark/images/workorder.png') no-repeat center;
}

.kyq-icon {
    background: url('~@/styles/themeDark/images/kyq.png') no-repeat center;
}

.wljq-icon {
    background: url('~@/styles/themeDark/images/wljq.png') no-repeat center;
}

.xnsjzx-icon {
    background: url('~@/styles/themeDark/images/xnsjzx.png') no-repeat center;
}

.yfwq-icon {
    background: url('~@/styles/themeDark/images/yfwq.png') no-repeat center;
}

.xjzx-icon {
    background: url('~@/styles/themeDark/images/xjzx.png') no-repeat center;
}


// 告警事件
.gjsj-icon {
    background: url('~@/styles/themeDark/images/gjsj.png') no-repeat center;
}

// 告警日志
.gjrz-icon {
    background: url('~@/styles/themeDark/images/gjrz.png') no-repeat center;
}

// 告警设置
.gjsz-icon {
    background: url('~@/styles/themeDark/images/gjsz.png') no-repeat center;
}

// 操作日志
.czrz-icon {
    background: url('~@/styles/themeDark/images/czrz.png') no-repeat center;
}

// 物理主机事件
.wlzjsj-icon {
    background: url('~@/styles/themeDark/images/wlzjsj.png') no-repeat center;
}

// 云服务器事件
.yfwqsj-icon {
    background: url('~@/styles/themeDark/images/yfwqsj.png') no-repeat center;
}

// 组织管理
.zzgl-icon {
    background: url('~@/styles/themeDark/images/zzgl.png') no-repeat center;
}

// 权限管理
.qxgl-icon {
    background: url('~@/styles/themeDark/images/qxgl.png') no-repeat center;
}

// 用户管理
.yhgl-icon {
    background: url('~@/styles/themeDark/images/yhgl.png') no-repeat center;
}

// 角色管理
.jsgl-icon {
    background: url('~@/styles/themeDark/images/jsgl.png') no-repeat center;
}

// 工单管理
.gdgl-icon {
    background: url('~@/styles/themeDark/images/gdgl.png') no-repeat center;
}

// 工单审核
.gdsh-icon {
    background: url('~@/styles/themeDark/images/gdsh.png') no-repeat center;
}

// 网络设置
.wlsz-icon {
    background: url('~@/styles/themeDark/images/wlsz.png') no-repeat center;
}

// 镜像管理
.jxgl-icon {
    background: url('~@/styles/themeDark/images/jxgl.png') no-repeat center;
}

// 异地容灾
.rzbf {
    background: url('~@/styles/themeDark/images/rzbf.png') no-repeat center;
    background-size: 18px !important;
}

// 主备kcp
.zbkcp {
    background: url('~@/styles/themeDark/images/zbkcp.png') no-repeat center;
    background-size: 18px !important;
}

//裸金属
.ljs {
    background: url('~@/styles/themeDark/images/ljsj.png') no-repeat center;
    background-size: 18px !important;
}