[data-theme="dark"] {
  @import './iconBg.scss';

  .app-wrapper-content {
    color: $dark_fontColor;
    background: $dark_contentBg;
  }

  .commonBox,
  .page-wrapper-left,
  .page-wrapper-right .app-container {
    background: $dark_gray;
  }

  .page-wrapper-icon {
    .org-text {
      color: $dark_fontColor;
    }
  }

  // 头部路由文字
  .app-breadcrumb.el-breadcrumb {
    .no-redirect {
      color: $dark_fontColor;
    }
  }

  .el-breadcrumb__inner a,
  .el-breadcrumb__inner.is-link {
    color: $dark_fontColor;
  }


  // 左侧菜单
  .sidebar-container {

    .submenu-title-noDropdown,
    .el-submenu__title,
    .el-submenu .el-menu-item {

      &.is-active,
      &:hover {
        background-color: $dark_menuHover  !important;
      }
    }

    .el-menu-item,
    .el-submenu__title {
      color: $dark_menuColor;
    }

    .el-menu-item:focus,
    .el-menu-item:hover {
      background-color: $dark_menuHover  !important;
    }
  }

  // 表格
  .mc-table {
    .el-table__fixed-right {
      .el-table th {
        background-color: $dark_tableBg;
      }

      background-color: $dark_tableBg;
    }

    .el-table {
      color: $dark_fontColor;

      th>.cell,
      .el-progress__text {
        color: $dark_fontColor;
      }

      th,
      .el-table__fixed-right-patch,
      .el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: $dark_tableheaderBg;
      }

      th.is-leaf .cell::after {
        background-color: $dark_tableheadersplit;
      }

      .el-table__body tr.hover-row.current-row>td,
      .el-table__body tr.hover-row.el-table__row--striped.current-row>td,
      .el-table__body tr.hover-row.el-table__row--striped>td,
      .el-table__body tr.hover-row>td {
        background-color: $dark_tablecellhoverBg;
      }


    }

    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background-color: $dark_tablecellhoverBg;
    }

    .el-table td,
    .el-table th.is-leaf {
      border-bottom: 1px solid $dark_tableBorderColor  !important;
    }

    // 表格分页
    // .el-pagination {

    //     .el-pagination__total,
    //     .el-pagination__jump,
    //     .el-pager li.btn-quicknext,
    //     .el-pager li.btn-quickprev,
    //     .btn-next,
    //     .btn-prev,
    //     .el-pager li,
    //     .el-pager li.active,
    //     .el-pager li:hover {
    //         color: $dark_paginationColor;
    //     }

    //     button:disabled {
    //         color: #C0C4CC !important;
    //     }

    //     .el-pager li.active {
    //         color: $dark_paginationColor;
    //         background-color: $dark_paginationactiveBgColor;
    //     }

    //     .el-pager li:hover {
    //         color: $dark_paginationColor;
    //         background-color: $dark_paginationHoverBgColor;
    //     }

    //     .btn-next,
    //     .btn-prev,
    //     .el-pager li {
    //         background-color: $dark_paginationBgColor;
    //         background: $dark_paginationBgColor;
    //         margin: 0 2px;
    //     }
    // }
  }



  .el-drawer__body {
    .el-table {
      color: $light_fontColor;

      th>.cell,
      .el-progress__text {
        color: $light_fontColor;
      }

      th,
      .el-table__fixed-right-patch,
      .el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: $light_tableheaderBg;
      }

      th.is-leaf .cell::after {
        background-color: $light_tableheadersplit;
      }

      .el-table__body tr.hover-row.current-row>td,
      .el-table__body tr.hover-row.el-table__row--striped.current-row>td,
      .el-table__body tr.hover-row.el-table__row--striped>td,
      .el-table__body tr.hover-row>td {
        background-color: $light_tableheaderBg;
      }


    }

    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background-color: $light_tableheaderBg;
    }


    .el-table td,
    .el-table th.is-leaf {
      border-bottom: 1px solid $light_tableBorderColor  !important;
    }

    .el-tree {
      color: $light_fontColor;

      .el-tree-node__content:hover,
      .el-tree-node:focus>.el-tree-node__content {
        background: $light_tablecellhoverBg;
      }
    }
  }

  .title-box,
  .basicInfo-title,
  .panel-setting>span,
  .workDetail h3 {
    color: $dark_fontColor;
  }

  .el-tree {
    color: $dark_fontColor;

    .el-tree-node.is-current>.el-tree-node__content,
    .el-tree-node__content:hover,
    .el-tree-node:focus>.el-tree-node__content {
      background: $dark_tree_nodebg;
    }
  }

  .el-tabs {
    .el-tabs__item {
      color: $dark_fontColor;
    }

    .el-tabs__item.is-active {
      color: #409EFF;
    }
  }

  // 详情页面
  .basicInfo-content {
    color: $dark_fontColor;
  }

  // form表单
  .el-form-item__label {
    color: $dark_fontColor;
  }
}
